.footer{
  padding:0;
  color:$light;
  margin:0;
  background: $dark;
  width:100%;
  font-size: 1.05rem;
  min-height:75px;
  a {
    color: $theme;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      text-decoration: underline;
      opacity: 1;
    } 
  }
  &_inner{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    @media screen and (max-width: 567px) {
      flex-direction: column;
    }
  }
}