.pale {
  opacity: 0.7;
}
.hidden{
  display: none;
}
.center{
  text-align:center;
  margin:5px auto;
}
.left{
  text-align:left;
}
.wrap{
  padding:10px 0;
  max-width: 1024px;
  margin: 0 auto;
}
.mt {
  margin-top: 7rem;
}
.link {
  display: inline-block;
  width: 2.5rem;
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  &_owner:hover & {
    opacity: 0.9;
  }
}
.solo {
  grid-column: 1/-1;
}