$padding: 10px;
$margin: 25px;
$theme: #04a763;
$light: #fff;
$dark: #131313;
$text: #343434;
$linear: linear-gradient(to right bottom, darken($theme, 10%), $theme);
:root {
  --light: #fff;
  --dark: #131313;
  --gray: #f5f5f5;
  --bubble: #181818;
  --accent: var(--gray);
  --bg: var(--light);
  --text: var(--dark);
  --font: 'Metropolis', sans-serif;
}
@media (prefers-color-scheme: dark) { 
  :root {
    --bg: var(--dark);
    --text: var(--light);
    --accent: var(--bubble);
  }
}