<h3>Recent Posts</h3>
<ul class='posts aside'>
  <!-- filter array of posts with the first tag of this post (related) -->
  <!-- if post doesn't have any tags use RegularPages -->
  <!-- filter out the current post -->
  <!-- return atmost 2 posts -->
  {{ $title := .Params.title }}
  {{ range first 2 .Site.RegularPages }}
    {{ if not (eq .Title $title) }}
    {{ partial "excerpt.html" . }}
    {{ end }}
  {{ end }}
</ul>