{{ $author := (lower .Params.author) }}
{{ $reading := .ReadingTime }}
{{ range .Site.Data.authors }}
{{ if eq .name $author }}
  <div class = 'author'>
    <a href = '{{ .url }}' target = "{{ $author }}'s profile">
      <img class = 'author_pic' src = '{{ absURL (printf "images/%s.jpg" $author) }}' alt = ''>
    </a>
    <div class = 'author_meta'>
      <div class = 'pale author_heading'>WRITTEN BY</div>
      <a class = 'author_name' href = '{{ .url }}' title = "{{ $author }}'s Profile">{{ .name }}</a>
    </div>
    <p class = 'pale author_bio solo'>{{ .bio }}</p>
  </div>
{{ end }}
{{ end }}
