<h3>Comments</h3>
<div class = 'comments'>
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := md5 .File.Path }}
  {{ if .Site.Data.comments }}
  {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
  {{ $.Scratch.Add "hasComments" 1 }}
  <div class = 'comment'>
    <img src = 'https://www.gravatar.com/avatar/{{ .email }}?s=100' alt = 'user icon' class = 'comment_pic'>
      <div class = 'comment_meta'>
        <div class = 'comment_heading pale' data-time = '{{ .date }}'></div>
        <div class = 'comment_author comment_name'>{{ .name }}</div>
      </div>
      <p class = 'solo comment_bio pale'>{{ .comment | markdownify }}</p>
  </div>
  {{ end }}
  {{ end }}
  
  {{ if eq ($.Scratch.Get "hasComments") 0 }}
  <p>Nothing yet.</p>
  {{ end }}
  
  {{ partial "comments-form.html" . }}
  <article class = 'modal'>
    <div class = 'modal_inner'>
      <h2 class = 'modal_title'></h2>
      <div class = 'modal_text'></div>
      <button class = 'modal_close'>Close</button>
    </div>
  </article>
</div>
