<!-- intro banner on list pages -->
<section class = 'intro'>
  <div class = 'intro_inner'>
    <div>{{ partial "audio.html" . }}</div>
    <h1 class = 'intro_headline'>{{ .Title }}</h1> 
    <p class = 'intro_desc'>{{ .Description }}</p>
  </div>
</section>